* {
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;   
}

.convert {
    display: inline-block;
    position: relative;
    top: 150px;
    padding: 10px;
    background: rgba(232, 107, 107, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

img {
    position: absolute;
    border-radius: 50%;
}

h1 {
    color: rgb(217, 100, 54);
    padding: 5px 0 10px 0;
    font: 1em sans-serif;
}
input {
    color: rgb(217, 100, 54);
    padding: 5px;
    font: 1em sans-serif;
    border-radius: 6px;
    border-style: none;
}
select {
    color: rgb(217, 100, 54);
    font: 1em sans-serif;
    border-radius: 6px;
    border-style: none;
}
button {
    color: rgb(217, 100, 54);
    padding: 5px;
    margin-top: 10px;
    font: 1em sans-serif;
    border-radius: 6px;
    border-style: none;
}
ion-icon {
    margin: auto 25%;
    color: rgb(217, 100, 54);
    font-size: 30px;
}
button:hover {
    background-color: rgb(217, 100, 54);
    color: aliceblue;
    padding: 5px;
    margin-top: 10px;
    font: 1em sans-serif;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
}